<a href="https://colab.research.google.com/github/trushpatel97/Assignment9/blob/master/SQL_to_Spanner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [140]:
import json

In [169]:
dictionary = {"char" : "STRING",
"varchar" : "STRING",
"varchar2" : "STRING",
"nchar" : "STRING",
"nvarchar" : "STRING",
"blob" : "STRING",
"long raw" : "STRING",
"bfile" : "STRING",
"clob" : "STRING",
"nclob" : "STRING",
"long" : "STRING",
"number" : "STRING",
"numeric" : "INT64",
"decimal" : "STRING",
"int" : "INT64",
"smallint" : "INT64",
"binary_float" : "FLOAT64",
"binary_double" : "FLOAT64",
"date" : "DATE",
"datetime" : "TIMESTAMP",
"xml" : "STRING",
"xml" : "STRING",
"dburi" : "STRING",
"xdburi" : "STRING",
"httpuri" : "STRING",
"rowid" : "PRIMARY KEY"}

In [171]:
with open('Oracle_SQL.txt') as f, open('output.txt', 'w')  as out:
    data = f.read()
    f = open('Oracle_SQL.txt', encoding="utf8")
    sentences = f.read().split("\n")

In [177]:
for i in sentences:
  words = i.replace(r'/[^a-zA-Z_ ]/g','').split(" ")
  words = list(filter(None, words))
  for j in words:
    print(j)

CREATE
TABLE
Persons
(
ID
int
LONG
RAW,
LastName
VARCHAR(255)
NOT
NULL,
FirstName
varchar(255),
Age
int,
CHECK
(Age>=18)
);
CREATE
TABLE
Persons
(
ID
int
NOT
NULL,
LastName
varchar(255)
NOT
NULL,
FirstName
varchar(255),
Age
int,
City
varchar(255),
CONSTRAINT
CHK_Person
CHECK
(Age>=18
AND
City='Sandnes')
);
SELECT
studentID,
FullName,
sat_score,
rcd_updated
FROM
student;
STUDENT
studentID,
FullName,
sat_score,
recordUpdated
FROM
student
WHERE
(studentID
BETWEEN
1
AND
5
OR
studentID
=
8)
AND
sat_score
NOT
IN
(1000,
1400);
UPDATE
Person
SET
Name
=
“Elton
John”
WHERE
Id
=
4;
SELECT
studentID,
FullName,
AVG(sat_score)
FROM
student
GROUP
BY
studentID,
FullName;